# dot files
.vscode
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# other reference repo
other

reports

# checkpoints
*/checkpoints/*.pt

# Exceptions
!light-morning-232*

# data pickles
*.h5

# cache
__pycache__/

# logs
wandb/



