# dot files
.vscode
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# packaging
*.egg-info/

# other reference repo
other
reports
# results

# checkpoints
*/checkpoints/*.pt

# data pickles
*.h5

# Exceptions
!norm_stats.h5

# cache
__pycache__/

# logs
wandb/



