absl-py==0.9.0
albumentations==0.1.8
apptools==4.5.0
astor==0.7.1
astroid==2.3.2
attrs==19.3.0
autopep8==1.4.4
backcall==0.1.0
bleach==3.1.1
blinker==1.4
cachetools==3.1.1
certifi==2020.4.5.1
cffi==1.13.2
chardet==3.0.4
click-plugins==1.1.1
click==7.0
cligj==0.5.0
cloudpickle==1.3.0
configobj==5.0.6
configparser==5.0.0
confuse==1.0.0
cryptography==2.8
cycler==0.10.0
cytoolz==0.10.1
dask==2.11.0
decorator==4.4.2
defusedxml==0.6.0
docker-pycreds==0.4.0
efficientnet-pytorch==0.6.3
entrypoints==0.3
envisage==4.9.2
fastparquet==0.3.3
filelock==3.0.12
fiona==1.8.13.post1
flake8==3.7.8
future==0.18.2
gast==0.2.2
gdown==3.11.0
geopandas==0.7.0
gitdb==4.0.5
gitpython==3.1.2
google-auth-oauthlib==0.4.1
google-auth==1.11.2
google-pasta==0.1.8
gql==0.2.0
graphql-core==1.1
grpcio==1.27.2
h5py==2.8.0
idna==2.9
imageio==2.8.0
imgaug==0.4.0
importlib-metadata==1.5.0
input-reader==1.2.2
ipykernel==5.1.4
ipython-genutils==0.2.0
ipython==7.13.0
ipywidgets==7.5.1
isort==4.3.21
iterative-stratification==0.1.6
jedi==0.16.0
jinja2==2.11.1
joblib==0.14.1
json5==0.9.0
jsonschema==3.2.0
jupyter-client==6.0.0
jupyter-core==4.6.3
jupyterlab-server==1.0.6
jupyterlab==2.0.0
keplergl==0.1.2
keras-applications==1.0.8
keras-preprocessing==1.1.0
keras==2.3.1
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
llvmlite==0.31.0
markdown==3.2.1
markupsafe==1.1.1
matplotlib==3.1.3
mayavi==4.7.1
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
munch==2.5.0
nbconvert==5.6.1
nbformat==5.0.4
networkx==2.4
notebook==6.0.3
numba==0.48.0
numpy-stl==2.11.2
numpy==1.17.4
nvidia-ml-py3==7.352.0
oauthlib==3.0.1
olefile==0.46
opt-einsum==3.2.1
pandas==0.25.3
pandocfilters==1.4.2
parso==0.6.1
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
pillow==6.2.1
pip==19.3.1
plotly==4.6.0
progress==1.5
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==3.0.3
protobuf==3.11.4
psutil==5.7.0
ptyprocess==0.6.0
pyasn1-modules==0.2.7
pyasn1==0.4.8
pycodestyle==2.5.0
pycparser==2.19
pyface==6.1.2
pyflakes==2.1.1
pygments==2.5.2
pyjwt==1.7.1
pylint==2.4.4
pyopenssl==19.1.0
pyparsing==2.4.6
pyproj==2.6.0
pyqt5==5.10
pyrsistent==0.15.7
pysocks==1.7.1
python-dateutil==2.8.1
python-snappy==0.5.4
python-utils==2.4.0
pytorch-lightning==0.6.0
pytz==2019.3
pywavelets==1.1.1
pyyaml==5.3
pyzmq==19.0.0
requests-oauthlib==1.2.0
requests==2.23.0
retrying==1.3.3
rope==0.14.0
rsa==4.0
scikit-image==0.16.2
scikit-learn==0.22.1
scipy==1.4.1
send2trash==1.5.0
sentry-sdk==0.14.3
setuptools==44.0.0.post20200106
shapely==1.7.0
shortuuid==1.0.1
sip==4.19.8
six==1.12.0
smmap==3.0.4
subprocess32==3.5.4
tensorboard==2.1.0
tensorflow-estimator==2.1.0
tensorflow==2.1.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
thrift==0.11.0
toolz==0.10.0
torch==1.3.1
torchvision==0.4.2
tornado==6.0.3
tqdm==4.43.0
traitlets==4.3.3
traits==6.0.0
traitsui==6.1.3
traittypes==0.2.1
trimesh==3.6.33
typed-ast==1.4.0
urllib3==1.25.7
vtk==8.1.2
wandb==0.8.35
watchdog==0.10.2
wcwidth==0.1.8
webencodings==0.5.1
werkzeug==1.0.0
wheel==0.33.6
widgetsnbextension==3.5.1
wrapt==1.12.0
zipp==3.0.0